This file will get the state variables and lambdas for the two gentry plots Erica sent, so that we can be sure state variables are being calculated correctly across the board.

In [29]:
import numpy as np
import pandas as pd
import biomass as bm

In [30]:
dr = 'GentryUnitTests/'
df1 = pd.read_csv(dr+'ACHUPALL_IPD.csv')
df2 = pd.read_csv(dr+'YANAMTAH_IPD.csv')
# Strip off end of species identity with M code
df1['spp'] = df1['spp'].str.rstrip('M1234567890 ')
df2['spp'] = df2['spp'].str.rstrip('M1234567890 ')

In [31]:
# Store state variables
ids = ['Achupall','Yanamtah']
states = pd.DataFrame(index=['Achupall','Yanamtah'],columns=['S','N','E','B','ls','beta'])

In [32]:
# Get S
states.loc['Achupall','S'] = df1['spp'].nunique()
states.loc['Yanamtah','S'] = df2['spp'].nunique()
# Get N. As far as I can tell, count is always one, so this should be the same as len
states.loc['Achupall','N'] = df1['count'].sum()
states.loc['Yanamtah','N'] = df2['count'].sum()
# Get metabolic rates
df1['e'] = df1['dbh']**2/min(df1['dbh']**2)
df2['e'] = df2['dbh']**2/min(df2['dbh']**2)
# Get E
states.loc['Achupall','E'] = df1['e'].sum()
states.loc['Yanamtah','E'] = df2['e'].sum()
# Get B
states.loc['Achupall','B'] = (df1['e']**(4/3)).sum()#bm.biomass(states.loc['Achupall']) # This is theoretical
states.loc['Yanamtah','B'] = (df2['e']**(4/3)).sum()#bm.biomass(states.loc['Yanamtah']) # This is theoretical
# Get lambdas
states.loc['Achupall','ls'] = bm.mete_lambdas(states.loc['Achupall'])
states.loc['Yanamtah','ls'] = bm.mete_lambdas(states.loc['Yanamtah'])
# Get beta
states.loc['Achupall','beta'] = bm.mete_lambdas(states.loc['Achupall']).sum()
states.loc['Yanamtah','beta'] = bm.mete_lambdas(states.loc['Yanamtah']).sum()

In [39]:
states

,S,N,E,B,ls,beta
Achupall,43,441,7469.56,34963.8,"[0.020255444851130802, 0.006117899995257443]",0.0263733
Yanamtah,142,406,18121.6,201809,"[0.16692282770018674, 0.008015552429615548]",0.174938

In [34]:
# Are the constraints ok?
for i in ids:
    print(bm.constraints(states.loc[i,'ls'],states.loc[i]))

[5.19614586e-16 3.27230582e-16]
[2.48514947e-15 0.00000000e+00]