This notebook is intended to show how to get biomasses from state variable data using the python code biomass.py

In [1]:
import numpy as np
import pandas as pd
import biomass as bm

In [2]:
# If ever lost, all code is documented. Call
?bm.biomass()
# OR for approximations
#?bm.biomass_approx()

Object `bm.biomass()` not found.

In [3]:
# How to use with a single dataset.
# Create a panda series with S, N, and E
test = pd.Series([100,10000,200000],index=['S','N','E'])
# Now simply call the biomass function
test_bm = bm.biomass(test)
# Can also call the analytic approximations
# First 0th order
test_bm0 = bm.biomass_approx(test,order=0) # calling order is optional here; order=0 by default
# Now 1st order
test_bm1 = bm.biomass_approx(test,order=1)

# Now print these
print("Biomass (numerical): {:.0f}".format(test_bm))
print("Biomass (0th order): {:.0f}".format(test_bm0))
print("Biomass (1st order): {:.0f}".format(test_bm1))

Biomass (numerical): 1380094
Biomass (0th order): 1623111
Biomass (1st order): 1405529

In [18]:
# Now how to use if we have a csv with state variable information
# Import the data
data = pd.read_csv('data_statevariables.csv')

In [20]:
d2 = data.drop(columns=['pB0','pB1','pBnum','lambda_1','lambda_2','Lat','Lon','Elev_m','beta',
                   'Notes1','Notes2','Notes3','Notes4','meas_est'])
cols = d2.columns.to_list()
cols2 = cols[:-1]
cols2.insert(11,cols[-1])

In [21]:
# This file will have only the state variables
d2[cols2].to_csv('data_statevariables_only.csv',index=False)

In [5]:
?bm.biomass_approx()

In [6]:
# Now add a column for numerical biomass data, and the approximations.
# The "p" indicates predicted, num is numerical, and 0 and 1 indicate the 0th and first order approximations.
# Note: Iterating through like this is actually bad practice for pandas, but this dataset is small, so it's fine
data['pBnum'] = np.zeros(len(data))
data['pBnum_2_3'] = np.zeros(len(data))
data['pB0'] = np.zeros(len(data))
data['pB1'] = np.zeros(len(data))
# Iterate through each row and append the biomass information
for index, row in data.iterrows():
    row23 = {'S': row['S'], 'N': row['N'], 'E': row['E_2_3']}
    data.loc[index,'pBnum_2_3'] = bm.biomass(row23,power=3/2)
    data.loc[index,'pBnum'] = bm.biomass(row)
    data.loc[index,'pB0'] = bm.biomass_approx(row)
    data.loc[index,'pB1'] = bm.biomass_approx(row,order=1)
    lambdas = bm.mete_lambdas(row)
    data.loc[index,'lambda_1'] = lambdas[0]
    data.loc[index,'lambda_2'] = lambdas[1]
    data.loc[index,'beta'] = lambdas.sum()
    # How are these lambdas doing? 
    #This should be very close to zero if the approximations in the underlying functions hold
    print(bm.constraints(lambdas,row))

[ 2.76117524e-13 -8.23106735e-12]
[ 2.11679295e-08 -3.50209982e-07]
[ 3.38172534e-10 -5.35741239e-09]
[ 2.21193183e-09 -4.27330519e-08]
[ 7.65126353e-06 -8.10650333e-05]
[ 2.79494437e-07 -4.00254769e-06]
[ 1.28905239e-14 -3.56512508e-16]
[-2.35209305e-16 -1.16826722e-16]
[1.55234724e-16 0.00000000e+00]
[-2.86364831e-16  0.00000000e+00]
[-3.57459898e-16  1.32168856e-16]
[-2.12390492e-16 -1.25476722e-16]
[1.76882990e-16 1.31240236e-16]
[1.57555128e-14 3.83997180e-15]
[ 3.73208522e-16 -1.37772712e-16]
[3.61396736e-16 1.37860119e-16]
[3.57505779e-16 0.00000000e+00]
[3.44199225e-14 4.73671602e-15]
[1.69594562e-15 1.50820843e-16]
[1.36110459e-16 2.01971203e-16]
[ 3.48855632e-16 -2.18085288e-16]
[-8.26319882e-14 -2.95866790e-13]
[2.52118912e-15 2.98515037e-15]
[-5.56948938e-15 -3.80384820e-15]
[1.04606954e-15 0.00000000e+00]
[ 4.21062362e-15 -1.26807234e-13]
[1.37319954e-16 0.00000000e+00]
[ 3.46052595e-09 -5.24135107e-08]
[ 2.79566269e-12 -6.76045226e-11]
[ 4.10074873e-14 -2.87656506e-13]
[ 1.39873915e-09 -6.49989504e-08]
[ 3.06477418e-08 -1.41818187e-06]
[ 3.75623254e-08 -1.00281889e-06]
[ 1.33107451e-07 -4.90513299e-06]
[ 3.01453529e-11 -1.10379895e-09]
[ 7.57656900e-10 -4.07274578e-08]
[ 1.74564153e-06 -1.92234650e-05]
[-1.55396329e-16  2.28408324e-16]
[ 2.33693816e-15 -2.15179560e-16]
[-4.22942105e-16  0.00000000e+00]
[-8.34634934e-16  2.52540505e-16]
[1.28503983e-14 7.52230425e-16]

So the approximations are all holding well, though the Farewell Spit dataset has E not that much greater than N, and so the lambda calculations are not as precise (still within one percent). Additionally, for this dataset, the sum of lambda1 and lambda2 (beta) is less than zero, and so our approximation for the biomass equation does not work.

In [7]:
display(data)

,Site,Plot,Type,Location,Year,A_ha,A_est,S,N,E,...,pB1,lambda_1,lambda_2,beta,Notes1,Notes2,Notes3,Notes4,E_2_3,pBnum_2_3
0,Point Reyes National Seashore Bishop Pines,Mt. Vision,Temperate forest community,California USA,2012,0.02560,N,27,1844,2.223879e+06,...,5.648642e+07,0.002382,0.000012,0.002395,Newman et al,Ecosphere,NaN,NaN,2.223879e+06,3.430830e+08
1,Point Reyes National Seashore Bishop Pines,Bayview,Temperate forest community,California USA,2012,0.02560,N,16,486,1.585384e+06,...,4.729688e+07,0.006116,0.000010,0.006126,Newman et al,Ecosphere,"duplicate dbh removed, uncored tree added in f...",NaN,1.585384e+06,3.056069e+08
2,Hubbard Brook Experimental Forest,Watershed 6,Temperate trees,New Hampshire USA,2017,13.23000,N,16,10230,5.532430e+04,...,3.672183e+05,-0.000224,0.000355,0.000131,https://hubbardbrook.org/watersheds/watershed-6,https://hubbardbrook.org/watersheds/watershed-...,https://portal.edirepository.org/nis/metadatav...,"had to drop all dbh and associated N, S) below...",5.532430e+04,9.502302e+05
3,Kellogg Biological Station,Deciduous Forest 1,Temperate trees,Michigan USA,2018,0.81000,Y,18,259,1.110548e+04,...,6.770949e+04,0.014893,0.001660,0.016552,https://portal.edirepository.org/nis/metadatav...,NaN,NaN,NaN,1.110548e+04,1.897001e+05
4,Kellogg Biological Station,Deciduous Forest 2,Temperate trees,Michigan USA,2018,0.50000,Y,10,172,8.115756e+03,...,5.195158e+04,0.009766,0.001259,0.011025,https://portal.edirepository.org/nis/metadatav...,NaN,NaN,NaN,8.115756e+03,1.516009e+05
5,Kellogg Biological Station,Deciduous Forest 3,Temperate trees,Michigan USA,2018,0.35000,Y,13,136,2.820084e+03,...,1.263401e+04,0.019693,0.004843,0.024536,https://portal.edirepository.org/nis/metadatav...,NaN,NaN,NaN,2.820084e+03,2.958019e+04
6,SCBI Large Forest Dynamics Plot,Front Royal,Temperate trees,Virginia USA,2012,25.60000,N,68,29986,1.110233e+07,...,2.855146e+08,0.000271,0.000006,0.000277,https://esapubs.org/archive/ecol/E094/195/,https://esapubs.org/archive/ecol/E094/195/meta...,NaN,NaN,1.110233e+07,1.851878e+09
7,CSIRO permanent rainforest plots of North Quee...,EP3,Tropical trees,Queensland Australia,1973,0.50000,N,67,506,4.074955e+03,...,1.252731e+04,0.021325,0.018773,0.040098,https://data.csiro.au/collections/collection/C...,NaN,NaN,NaN,4.074955e+03,2.260922e+04
8,CSIRO permanent rainforest plots of North Quee...,EP18,Tropical trees,Queensland Australia,1975,0.50000,N,79,452,3.915177e+03,...,1.162778e+04,0.036675,0.022811,0.059487,NaN,NaN,NaN,NaN,3.915177e+03,2.114594e+04
9,CSIRO permanent rainforest plots of North Quee...,EP19,Tropical trees,Queensland Australia,1977,0.50000,N,64,397,2.482458e+03,...,6.730767e+03,0.022259,0.030689,0.052947,NaN,NaN,NaN,NaN,2.482458e+03,1.114691e+04
10,CSIRO permanent rainforest plots of North Quee...,EP29,Tropical trees,Queensland Australia,1981,0.50000,N,49,487,2.634251e+03,...,7.497786e+03,0.004694,0.022820,0.027514,NaN,NaN,NaN,NaN,2.634251e+03,1.208480e+04
11,CSIRO permanent rainforest plots of North Quee...,EP30,Tropical trees,Queensland Australia,1976,0.50000,N,66,552,3.737412e+03,...,1.107268e+04,0.014093,0.020719,0.034812,NaN,NaN,NaN,NaN,3.737412e+03,1.906885e+04
12,CSIRO permanent rainforest plots of North Quee...,EP31,Tropical trees,Queensland Australia,1978,0.50000,N,47,236,2.544609e+03,...,7.894395e+03,0.051672,0.020359,0.072030,NaN,NaN,NaN,NaN,2.544609e+03,1.514565e+04
13,CSIRO permanent rainforest plots of North Quee...,EP32,Tropical trees,Queensland Australia,1983,0.50000,N,51,437,1.887393e+03,...,4.837196e+03,-0.001491,0.035163,0.033672,NaN,NaN,NaN,NaN,1.887393e+03,7.097924e+03
14,CSIRO permanent rainforest plots of North Quee...,EP33,Tropical trees,Queensland Australia,1990,0.50000,N,43,307,4.435325e+03,...,1.637634e+04,0.032962,0.010416,0.043378,NaN,NaN,NaN,NaN,4.435325e+03,3.429068e+04
15,CSIRO permanent rainforest plots of North Quee...,EP34,Tropical trees,Queensland Australia,1984,0.50000,N,59,290,3.040910e+03,...,9.300726e+03,0.052902,0.021447,0.074349,NaN,NaN,NaN,NaN,3.040910e+03,1.771069e+04
16,CSIRO permanent rainforest plots of North Quee...,EP40,Tropical trees,Queensland Australia,1998,0.50000,N,48,477,3.859423e+03,...,1.256259e+04,0.013328,0.014191,0.027519,NaN,NaN,NaN,NaN,3.859423e+03,2.311463e+04
17,CSIRO permanent rainforest plots of North Quee...,EP41,Tropical trees,Queensland Australia,1983,0.50000,N,50,369,2.775138e+03,...,8.299423e+03,0.020631,0.020780,0.041411,NaN,NaN,NaN,NaN,2.775138e+03,1.466088e+04
18,CSIRO permanent rainforest plots of North Quee...,EP42,Tropical trees,Queensland Australia,1977,0.50000,N,58,243,2.732479e+03,...,8.227768e+03,0.071338,0.023298,0.094636,NaN,NaN,NaN,NaN,2.732479e+03,1.592251e+04
19,CSIRO permanent rainforest plots of North Quee...,EP43,Tropical trees,Queensland Australia,1984,0.50000,N,59,385,4.151287e+03,...,1.364357e+04,0.033590,0.015665,0.049256,NaN,NaN,NaN,NaN,4.151287e+03,2.644934e+04
20,CSIRO permanent rainforest plots of North Quee...,EP44,Tropical trees,Queensland Australia,1990,0.50000,N,58,443,3.779391e+03,...,1.187171e+04,0.022089,0.017384,0.039473,NaN,NaN,NaN,NaN,3.779391e+03,2.179858e+04
21,RMBL,Belleview,Subalpine meadow flora,Colorado USA,2012,0.00640,N,31,877,9.178720e+05,...,1.859695e+07,0.007067,0.000034,0.007100,NaN,NaN,NaN,NaN,9.178720e+05,9.844353e+07
22,BCI,CTFS,Tropical trees,Panama,1982,50.00000,N,307,235338,2.394486e+07,...,4.540775e+08,0.000135,0.000013,0.000148,http://ctfs.si.edu/webatlas/datasets/bci/,NaN,NaN,NaN,2.394486e+07,2.553872e+09
23,Cocoli,CTFS,Tropical trees,Panama,1997,2.00000,N,171,8290,1.717206e+06,...,2.262118e+07,0.003571,0.000100,0.003671,http://ctfs.si.edu/webatlas/datasets/cocoli/,http://ctfs.si.edu/webatlas/datasets/bci/Terms...,https://datadryad.org/stash/dataset/doi:10.151...,NaN,1.717206e+06,9.740229e+07
24,Sherman,CTFS,Tropical trees,Panama,1997,5.96000,N,225,24453,2.325982e+06,...,2.797918e+07,0.001301,0.000098,0.001399,http://ctfs.si.edu/webatlas/datasets/sherman/,NaN,NaN,NaN,2.325982e+06,1.170556e+08
25,UC Santa Cruz,FERC,Temperate forest community,California USA,2006,6.00000,N,31,8370,1.004622e+07,...,3.420074e+08,0.000472,0.000003,0.000475,https://forestgeo.si.edu/sites/north-america/u...,NaN,NaN,NaN,1.004622e+07,2.517644e+09
26,Catuba,Catuba,Tropical trees,Brazil,1999,20.00000,N,156,1009,1.776010e+04,...,6.859944e+04,0.040567,0.009313,0.049879,https://daac.ornl.gov/VEGETATION/guides/Forest...,NaN,NaN,NaN,1.776010e+04,1.493291e+05
27,Harvard Forest,EMS Tower,Temperate trees,Massachusetts USA,1993,1.26000,N,15,759,4.953740e+03,...,2.054568e+04,-0.000465,0.003576,0.003111,https://harvardforest1.fas.harvard.edu/exist/a...,NaN,NaN,NaN,4.953740e+03,4.122650e+04
28,Harvard Forest,Lyford mapped tree plot,Temperate trees,Massachusetts USA,1969,2.88000,N,24,3696,1.411013e+05,...,1.343283e+06,0.000716,0.000175,0.000891,https://harvardforest1.fas.harvard.edu/exist/a...,NaN,NaN,NaN,1.411013e+05,4.961369e+06
29,Traunstein Forest Dynamics Plot,CTFS,Temperate trees,Germany,2016,25.00000,N,29,15758,4.259937e+05,...,4.781931e+06,0.000139,0.000071,0.000209,https://forestgeo.si.edu/sites/europe/traunstein,NaN,NaN,NaN,4.259937e+05,1.970062e+07
30,Atlantic Forest restinga,6L1,Tropical trees,Brazil,2015,0.00125,N,15,22,1.027092e+02,...,-2.436920e+01,0.478634,0.185852,0.664486,NaN,NaN,NaN,NaN,1.027092e+02,2.836877e+02
31,Atlantic Forest restinga,6L3,Tropical trees,Brazil,2015,0.00125,N,14,20,1.696116e+02,...,-1.687086e+02,0.617564,0.093576,0.711140,NaN,NaN,NaN,NaN,1.696116e+02,6.624163e+02
32,Atlantic Forest restinga,5L1,Tropical trees,Brazil,2015,0.00125,N,13,25,1.353977e+02,...,2.101931e+02,0.244446,0.117756,0.362202,NaN,NaN,NaN,NaN,1.353977e+02,4.298013e+02
33,Atlantic Forest restinga,5L2,Tropical trees,Brazil,2015,0.00125,N,13,20,1.957322e+02,...,1.025435e+02,0.516539,0.073976,0.590515,NaN,NaN,NaN,NaN,1.957322e+02,8.407543e+02
34,Atlantic Forest restinga,5L3,Tropical trees,Brazil,2015,0.00125,N,15,25,7.073095e+01,...,5.911363e+01,0.162598,0.328005,0.490603,NaN,NaN,NaN,NaN,7.073095e+01,1.440747e+02
35,Atlantic Forest restinga,5L5,Tropical trees,Brazil,2015,0.00125,N,18,27,3.299215e+02,...,5.118524e+01,0.568708,0.059421,0.628129,NaN,NaN,NaN,NaN,3.299215e+02,1.594362e+03
36,Ordway-Swisher Forest Dynamics Plot,unburned,Temperate trees,NaN,2019,17.60000,N,11,7714,2.185400e+06,...,5.123129e+07,0.000043,0.000005,0.000048,NaN,NaN,NaN,NaN,2.185400e+06,3.619416e+08
37,Hawaii,Volcano (200 y),Tropical arthropods,Hawaii USA,1997,NaN,N,167,1909,8.312176e+04,...,4.875580e+05,0.020751,0.002056,0.022807,NaN,NaN,NaN,NaN,4.956532e+04,6.060764e+05
38,Hawaii,Lanai (1500 y),Tropical arthropods,Hawaii USA,1997,NaN,N,156,2253,4.121011e+04,...,1.896179e+05,0.012754,0.004004,0.016758,NaN,NaN,NaN,NaN,2.699172e+04,2.285177e+05
39,Hawaii,Kohala (150 ky),Tropical arthropods,Hawaii USA,1997,NaN,N,240,6048,8.716836e+04,...,4.137390e+05,0.005267,0.002959,0.008225,NaN,NaN,NaN,NaN,5.894559e+04,5.199849e+05
40,Hawaii,Molokai (1.2 My),Tropical arthropods,Hawaii USA,1997,NaN,N,227,3865,1.021892e+05,...,5.492414e+05,0.011229,0.002309,0.013538,NaN,NaN,NaN,NaN,6.591506e+04,7.193355e+05
41,Hawaii,Kauai (4My),Tropical arthropods,Hawaii USA,1997,NaN,N,158,1922,3.581852e+04,...,1.602979e+05,0.016338,0.004661,0.020999,NaN,NaN,NaN,NaN,2.389382e+04,1.966985e+05

In [27]:
# To save
data.to_csv('data_statevariables.csv',index=False)

## Some goodness of prediction tests

In [21]:
# How close is this to data? Should be near 1 if we are getting the observed value.
print("Numerical")
ratio = data['pBnum']/data['B']
display(ratio)
print('Ratio: {:.2f} pm {:.2f}'.format(ratio.mean(),ratio.std()))
print()
print("Zeroth order")
ratio0 = data['pB0']/data['B']
display(ratio0)
print('Ratio: {:.2f} pm {:.2f}'.format(ratio0.mean(),ratio0.std()))
print()
print("First order")
ratio1 = data['pB1']/data['B']
display(ratio1)
print('Ratio: {:.2f} pm {:.2f}'.format(ratio1.mean(),ratio1.std()))
print()

Numerical

0     0.470988
1     1.266961
2     2.619427
3     1.213527
4     1.228977
5     1.171449
6     1.916850
7     1.094076
8     1.019964
9     1.040739
10    1.213038
11    1.106148
12    0.992462
13    0.961727
14    1.045652
15    1.046873
16    1.087485
17    1.191701
18    0.916161
19    1.061608
20    1.071910
21    1.100219
22    1.139860
23    0.786572
24    1.146325
25    1.577129
26    1.126499
27    1.698319
28    2.060959
29    2.814945
30    0.885891
31    0.726442
32    0.770833
33    0.807963
34    1.011287
35    0.668224
36    3.063694
37    1.183680
38    1.143643
39    1.192374
40    1.342518
41    1.167904
dtype: float64

Ratio: 1.24 pm 0.54

Zeroth order

0     0.539478
1     1.547698
2     3.318161
3     1.679629
4     1.604902
5     1.742658
6     2.018228
7     1.866382
8     1.875168
9     1.917834
10    2.029777
11    1.870499
12    1.884691
13    1.711425
14    1.745086
15    2.007593
16    1.742482
17    2.056947
18    1.873405
19    1.846363
20    1.814872
21    1.365088
22    1.192324
23    0.929637
24    1.289234
25    1.682569
26    1.918685
27    2.273167
28    2.307950
29    3.056991
30    8.870777
31    8.385651
32    3.270639
33    6.097507
34    6.274700
35    5.638191
36    2.909160
37    1.712571
38    1.626095
39    1.591414
40    1.835780
41    1.709316
dtype: float64

Ratio: 2.49 pm 1.83

First order

0     0.455755
1     1.219201
2     3.122682
3     1.183088
4     1.190549
5     1.155253
6     1.865673
7     1.125356
8     1.026044
9     1.082455
10    1.318957
11    1.162022
12    0.975051
13    1.070353
14    1.033821
15    1.028346
16    1.132237
17    1.231444
18    0.883087
19    1.061259
20    1.098062
21    1.060735
22    1.119179
23    0.763288
24    1.121975
25    1.530277
26    1.099399
27    1.888227
28    2.050340
29    2.846403
30   -0.108643
31   -0.296881
32    0.566217
33    0.163419
34    0.534050
35    0.036996
36    2.786405
37    1.149196
38    1.143392
39    1.218773
40    1.328248
41    1.162281
dtype: float64

Ratio: 1.16 pm 0.68

## Some goodness of approximation tests

In [13]:
# For each data, how good is the zeroth order and first order prediction compared to the numerical test?
# Should be near 0 for being exact with the numerical answer.
print("Zeroth order")
frac0 = (data['pB0']-data['pBnum'])/data['pBnum']
display(frac0)
print('Number of datasets where we are within 10%: {}/{}'.format(np.sum((frac0<0.1)),len(frac0)))
print()
print('Percent: {:.2f} pm {:.2f}'.format(frac0.mean(),frac0.std()))
print()
print("First order")
frac1 = (data['pB1']-data['pBnum'])/data['pBnum']
display(frac1)
print('Number of datasets where we are within 10%: {}/{}'.format(np.sum((frac1<0.1)),len(frac1)))
print()
print('Percent: {:.2f} pm {:.2f}'.format(frac1.mean(),frac1.std()))
print()

Zeroth order

0      0.145418
1      0.221583
2      0.266751
3      0.384089
4      0.305885
5      0.487609
6      0.052888
7      0.705899
8      0.838465
9      0.842762
10     0.673300
11     0.691003
12     0.899006
13     0.779532
14     0.668897
15     0.917705
16     0.602304
17     0.726061
18     1.044842
19     0.739214
20     0.693119
21     0.240743
22     0.046027
23     0.181883
24     0.124667
25     0.066856
26     0.703228
27     0.338481
28     0.119842
29     0.085986
30     9.013392
31    10.543450
32     3.242991
33     6.546769
34     5.204670
35     7.437574
36    -0.050440
37     0.446819
38     0.421855
39     0.334661
40     0.367416
41     0.463575
dtype: float64

Number of datasets where we are within 10%: 5/42

Percent: 1.39 pm 2.51

First order

0    -0.032342
1    -0.037697
2     0.192124
3    -0.025083
4    -0.031268
5    -0.013826
6    -0.026699
7     0.028591
8     0.005961
9     0.040083
10    0.087317
11    0.050512
12   -0.017543
13    0.112948
14   -0.011315
15   -0.017697
16    0.041151
17    0.033350
18   -0.036101
19   -0.000328
20    0.024398
21   -0.035887
22   -0.018143
23   -0.029602
24   -0.021242
25   -0.029707
26   -0.024057
27    0.111821
28   -0.005153
29    0.011175
30   -1.122637
31   -1.408678
32   -0.265448
33   -0.797740
34   -0.471910
35   -0.944635
36   -0.090508
37   -0.029133
38   -0.000220
39    0.022140
40   -0.010629
41   -0.004815
dtype: float64

Number of datasets where we are within 10%: 39/42

Percent: -0.11 pm 0.34